{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}
  

{% block content %}
<h3>Nos meilleurs ventes</h3>
<p>Découvrez nos articles les plus vendus</p>
 <div class="row">
  {% for product in products %}
    <div class="col-md-3">
      {% include 'products/single_product.html.twig' %}
    </div>
  {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Une équipe de professionnel, <span class="text-muted">avec des professionnels au grand savoir-faire.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img src="{{asset('assets/img/067 first.jpg')}}" class='img-fluid' alt="un savoir faire français">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Venez à notre rencontres dans nos différentes  <span class="text-muted">boutiques en france.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{asset('assets/img/067 second.jpg')}}" class='img-fluid' alt="une boutique ouverte toute l'année ">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">
{% endblock %}
