{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La boutique Française{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">{{form(form)}}</div>
        <div class="col-md-4">
        <strong>La boutique Française</strong>
        <hr>
        Merci de nous contacter au 06.06.06.06 <br>
        8 rue des flingues <br>
        7854 Kalash
        </div>      
    </div>
{% endblock %}
